page-gallery {

  .scroll-content {
    background-color: #212121;
  }

  .swiper-pagination-bullet {
    background: #ffffff;
    opacity: 0.2;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
  }

}
